
<section id="hero">
	<div class="inner">
		<h1>pellect.io</h1>
		<h3>Read a fine book every day.</h3>
	</div>
</section>

<section id="feed">
	<div class="inner">
		<%= render :partial => "feed", :collection => @feed %>
	</div>
</section>
