<% content_for :title do %>Impressum<% end %>

<section id="main">
	<div class="inner">

		<header class="text-center">
			<h1>Impressum</h1>
		</header>

		<h4>Angaben gemäß § 5 TMG:</h4>
		<p>Michael Kuehl<br>

			Speestrasse 2<br>
			86899 Landsberg
		</p>

		<h4>Kontakt:</h4>
		Telefon: +49 (0) 151 127 684 21</br>
		E-Mail: hello@ratchet.cc<p>

		<p>
		<%= link_to 'Haftungsausschluss', "/disclaimer" %><br>
		<%= link_to 'Datenschutzerklärung', "/data" %><br>
		<p>Quelle:
			<em>
				<a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de</a>
			</em>
		</p>

	</div>
</section>
