# Add configuration values here, as shown below.

base_url: http://localhost:5000
domain_name: example.com
app_name: 'short_name'
app_description: 'description of the app'
smtp_provider_host: smtp.example.com
smtp_provider_domain: example.com
smtp_provider_username: admin
smtp_provider_password: admin
admin_name: admin
admin_email: admin@example.com
admin_password: changeme
mailchimp_api_key: 12345
mailchimp_list_id: 67890
ga_property_id: 'UA-xxx-1'

development:
  secret_key_base: 090ff9cb13044c52f907aafd09417903d1743c833f915847cd472ca0b1ad9b0s43cd9584ab3a1a6ed958ac8f1e2dab4ecb977f4b801929144816170dea1ddffc

production:
  base_url: https://saas-starter-app.herokuapp.com
  secret_key_base: 090ff9cb13044c52f907aafd09417903d4743c533a915847cd472ca0b1ad9b0s43cd9584ab3a1a6ed958ac8f1e2dab4ecb977f4b801929144816170dea1ddffc
