
section .inner {
	width: 800px;
	margin: 0 auto;
}

#header {
	color: $main-color;
	background: $header-background;

	top: 0;
	width: 100%;
	position: fixed;
	z-index: 10001;
}

#header .inner {
	width: 800px;
	margin: 0 auto;
	position: relative;
}

#header h1,h3 {
	color: $main-color;
	margin: 0;
	padding: 0;
}

#header h1 {
	font-size: 2.0em;
	line-height: 2.0em;
}

#header h3 {
	font-size: 1.2em;
}

#feed {
	padding: 0 0 3em 1em;
}

#feed .inner {
	//width: 800;
}

#feed h3 {
	padding-bottom: 0.8em;
}

#item {
	padding: 0;
}

#item h1,h2,h3,h4 {
	color: $main-color;
}

#item .description {
	padding: 0 0.6em 0 0.6em;
}

#item .details {
	padding: 0 0.6em 0 0.6em;
}

#item .details p {
	//margin: 0 0 0.5em 0;
}

#item .related {
	margin: 2em 0 0 0;
	padding: 0 0.8em 0 0.8em;
}

@media screen and (max-width: 736px) {
	section .inner {
		width: 588px;
	}

	#header .inner {
		width: 588px;
	}
}

@media screen and (max-width: 480px) {
	section .inner {
		width: 384px;
	}

	#header .inner {
		width: 384px;
	}

	#feed .inner {
		width: 384px;
	}
}
