
section .inner {
	max-width: 65em;
	//width: calc(100% - 6em);
	width: 800px;
	margin: 0 auto;
}

#main {
	padding: 1em 0 1em;
}

#hero {
	padding: 0 0 3em 0;
	background: $hero-background;
}

#hero h1,h2,h3,h4 {
	color: $main-color;
}

#hero h1 {
	padding: 0.5em 0 0em 0;
	font-size: 2.5em;
}

#hero h3 {
	margin-bottom: 0.5em;
}

#results {
	padding: 1.5em 0 3em 1em;
}

#results h1,h2,h3,h4 {
	color: $main-color;
}

#feed {
	padding: 1.5em 0 3em 1em;
}

#feed .inner {
	width: 640;
}

#item {
	padding: 1.5em 0 3em 1em;
}

#item h1,h2,h3,h4 {
	color: $main-color;
}

#item .description {
	margin: 0 0 1em 0;
}

#item .details {
	margin: 0 0 1em 0;
}

#item .details p {
	margin: 0 0 0.5em 0;
}

#item .features {
	font-size: 0.9em;
	margin: 0 0 1em 0;
}

#item ul.features {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

#item ul.features li {
	padding: 0 0 0 0.1em;
	vertical-align: middle;
}

#item ul.features li:last-child {
	padding-right: 0;
}

#item .related {
	margin: 2em 0 0 0;
}

@media screen and (max-width: 480px) {
	section .inner {
		max-width: 90%;
		width: 90%;
	}
}
